.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}


.upper {
    background-color: aqua;
}
.diagonal {
    background-color: cornflowerblue;
}
.lower {
    background-color: darkblue;
}